*{
  margin: 0;
  padding: 0;
}

.App{
  margin-top: 10%;
 
}

.relative{
  position: relative;
}

.btn-danger{
  position: absolute;
  left: -8%;
}

.btn-secondary{
  position: absolute;
  right: -13%;
}